/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */


#btnCreate {
    border-radius: 4px;
    background-color: dodgerblue;
    border: none;
    color: #FFFFFF;
    text-align: center;
    padding: 6px;
    width: 150px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

    #btnCreate span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        #btnCreate span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    #btnCreate:hover span {
        padding-right: 25px;
    }

        #btnCreate:hover span:after {
            opacity: 1;
            right: 0;
        }
