
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/SaloonOwner/Views/_Layout.cshtml";
}

<h2>Appointments</h2>


<a href="/SaloonOwner/Appointments/Create" class="btn btn-primary">Create appointment</a>
