@model SalonAplikacija.Web.Areas.SaloonOwner.ViewModels.ClientTypeOwner.ClientTypeOwnerVM
@{
    //ViewData["Title"] = "Create";
    //Layout = "~/Areas/Admin/Views/_Layout.cshtml";
    
}

<div class="form-container">
    @if (Model.ErrorMessage != null)
    {
        <div class="alert alert-danger">
            <strong></strong> @Model.ErrorMessage
        </div>
    }
    <div class="alert alert-success hidden">
        <strong></strong> Client type created successfully!
    </div>
    <form id="frmCreateClientType">
        <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input asp-for="Name" class="form-control" placeholder="Name" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Description" class="form-control" placeholder="Description" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Discount" class="form-control" placeholder="Discount" />
            <span asp-validation-for="Discount" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-sm btn-primary" id="btnCreateClientType" data-save="modal">Save</button>
        </div>
    </form>
</div>


<script>


    $("#btnCreateClientType").click(function (event) {
        event.preventDefault();

        var actionUrl = "/SaloonOwner/ClientTypeOwner/Create";
        var formData = $("#frmCreateClientType").serialize();

        $.ajax({
            type: "POST",
            url: actionUrl,
            data: formData,
            success: function () {
                $("#dataBody").load("/SaloonOwner/ClientTypeOwner/LoadDataTable");
                $(".alert").removeClass("hidden");
            },
            error: function (data) {
                $(".form-container").html(data.responseText);

            }
        });
    });

</script>