@model CountryCityGet
@{
    ViewData["Title"] = "TestCountryCity";
    Layout = "~/Areas/SaloonOwner/Views/_Layout.cshtml";
}


<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            @if (ViewBag.Countries != null)
            {
                @Html.DropDownListFor(x => x.CountryId, ViewBag.Countries as SelectList, "Select country", new { @class = "form-control" })
            }
        </div>
        <div class="form-group">
            @Html.DropDownListFor(x => x.CityId, new SelectList(" "), "Select city", new { @class = "form-control" })
        </div>
    </div>
</div>


@section scripts{ 
    <script>
        $(document).ready(function () {
            $("#CountryId").change(function () {
                $.get("/SaloonOwner/Clients/GetCities",
                    { CountryId: $("#CountryId").val() },
                    function (data) {
                        $.each(data, function (index, row) {
                            console.log(row);
                            $("#CityId").empty();
                            $("#CityId").append("<option value='"+row.cityId+"'>"+row.name+"</option>")
                        });
                    });
            });
        });
    </script>
}

